* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

i,
svg {
  pointer-events: none;
}

.kick-pad,
.snare-pad,
.hihat-pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}

.kick-pad {
  background: rgba(0, 217, 255, 0.4);
}

.snare-pad {
  background: rgba(255, 0, 179, 0.4);
}

.hihat-pad {
  background: rgba(255, 115, 0, 0.4);
}

.kick-pad.active {
  background-color: rgba(0, 217, 255, 0.898);
}
.snare-pad.active {
  background-color: rgba(255, 0, 179, 0.898);
}
.hihat-pad.active {
  background-color: rgba(255, 115, 0, 0.898);
}

.sequencer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.hihat-track,
.snare-track,
.kick-track {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin-top: 5rem;
}

.kick,
.snare,
.hihat {
  display: flex;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0 2rem;
}

.controls button {
  padding: 1rem;
  border: none;
  background: rgb(68, 68, 68);
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.controls h1 {
  color: rgb(68, 68, 68);
}

.pad {
  transition: all 0.5s ease;
}

.play {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background: rgb(68, 68, 68);
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 3rem;
}

select {
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  border: 0.15rem solid rgb(68, 68, 68);
}

.mute.active {
  background-color: rgba(68, 68, 68, 0.527);
}

.tempo {
  margin: 3rem;
  width: 30%;
}

.tempo-slider {
  padding: 0.5rem;
  -webkit-appearance: none;
  margin: 1rem 0;
  width: 100%;
  position: relative;
  background: rgb(88, 88, 88);
  cursor: pointer;
  border-radius: 1rem;
}

.tempo p {
  font-size: 1.5rem;
  margin: 2rem;
  text-align: center;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
